.alerta {
    margin: 20px 10px 10px;
}

.hidden {
    display: none;
}

.navbar {
    padding: 0.5rem 2rem !important;
}

.dropDown {
    display: inline-block;
}

.finalizarCompra {
    color: green !important;
}

.cardProduto {
    width: 18rem;
}

.cardTitle {
    height: 40px;
}

.buttonCard {
    width: 100%;
}
